.cor_1 {
background-color: rgb(0,0,0);
}
.cor_2{
background-color: rgb(120,120,120);
}
.cor_3{
background-color: rgb(240,240,240);
}
.cor_4{
background-color: rgb(60,60,60);
}
.cor_5{
background-color: rgb(100,100,100);
}
.cor_6{
background-color: rgb(225,255,255);
}
