.cor_1{
background-color: #000000;
}
.cor_2{
background-color: #787878;
}
.cor_3{
background-color: #f0f0f0;
}
.cor_4{
background-color: #3c3c3c;
}
.cor_5{
background-color: #b4b4b4;
}
.cor_6{
background-color: #ffffff;
}